

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  width: 100%;
  grid-template-areas:
    "sidebar form"
    "sidebar cards";
  grid-template-rows: 50% 125%;
  grid-template-columns: 1fr 5fr;
}


h1 {
  font-weight: 700;
  font-size: 13pt;
  margin-left: 5%;
}

h2 {
  color: #BFBFDD;
  font-size: 10pt;
  margin: 5% 6% 10% 6%;
  font-weight: 700;
}

h4 {
  margin: 15px 0px 0px 15px;
}

h5 {
  margin-bottom: 3px;
  margin-top: 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #1F1F3D;
  font-weight: 300;
  color: #FFFFFF;
  grid-area: sidebar;
}

.show-starred {
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  height: 40px;
  border: 1px solid #353567;
  color: #E9E9F3;
  font-size: 13pt;
  font-weight: 700;
  background-color: #5356A4;
  margin: 0% 5% 0% 5%;
}

.filter {
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
  height: 130px;
  padding: 3%;
}

img {
  height: 23px;
  width: 23px;
}

.comment-icon {
  height: 28px;
  width: 28px;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: form;
  background-color: #A9AAD2;
}

.card-container{
  display: grid;
  grid-template-rows: 230px 230px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: cards;
  background-color: #EAEAF4;
}

input {
  width: 30%;
}

.card {
  border: 2px solid #353567;
  /* width: 28%; */
  width: 190px;
  height: 210px;
  background-color: #FFFFFF;
  margin: 7% 0% 0% 7%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  height: 27px;
  background-color: #1F1F3D;
}

footer {
  background-color: #5356A4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  border-top: 2px solid #353567;
  height: 17px;
  padding: 5px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 11pt;
}

p {
  margin-left: 15px;
  margin-top: 10px;
}
