body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
  "sidebar form"
  "sidebar cards";
  grid-template-columns: 220px auto;
  grid-template-rows: 500px 90%;
  margin: 0px auto;
  width: 100%;
}

h1 {
  font-size: 13pt;
  font-weight: 700;
  margin-left: 5%;
}

h2 {
  color: #BFBFDD;
  font-size: 10pt;
  font-weight: 700;
  margin: 5% 6% 10% 6%;
}

h3 {
  color: #1F1F3D;
  margin-bottom: 6px;
}

h4 {
  color: #1F1F3D;
  font-size: 25px;
  margin: 15px 0px 0px 20px;
}

h5 {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 0px;
}

img {
  cursor: pointer;
  width: 35px;
}

input,
textarea {
  border: 2px solid #5356A4;
  border-radius: 4px;
  font-size: 20px;
  resize: none;
  width: 100%;
}

input {
  height: 55px;
}

textarea {
  height: 100px;
  margin-bottom: 25px;
}

form {
  align-items: center;
  background-color: #A9AAD2;
  display: flex;
  flex-direction: column;
  grid-area: form;
}

header {
  background-color: #1F1F3D;
  display: flex;
  height: 13%;
  justify-content: space-between;
}

footer {
  align-items: center;
  background-color: #5356A4;
  border-top: 2px solid #353567;
  color: #FFFFFF;
  display: flex;
  font-size: 11pt;
  font-weight: 300;
  height: 10%;
  justify-content: flex-start;
  margin-top: auto;
  padding: 5px;
}

p {
  color: #1F1F3D;
  font-size: 25px;
  margin: 10px 40px 15px 20px;
}

.sidebar {
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  grid-area: sidebar;
  width: 225px;
}

.show-starred {
  background-color: #5356A4;
  border: 1px solid #353567;
  color: #E9E9F3;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  margin: 0% 5% 0% 5%;
  width: 90%;
}

.show-starred:hover {
  background-color: #353567;
}


.comment-icon {
  width: 45px;
}

.card-container{
  background-color: #EAEAF4;
  display: grid;
  grid-area: cards;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, auto);
  justify-items: center;
}

.card {
  background-color: #FFFFFF;
  border: 2px solid #353567;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 25px;
  width: 300px;
}

.form-flex {
  margin-bottom: 0px;
  padding: 0px;
  width: 40%
}

.page-opacity {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.save {
  background-color: #5356A4;
  border-color: #5356A4;
  border-radius: 2px;
  color: #E9E9F3;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 55px;
  margin-bottom: 25px;
  width: 40%;
}

::placeholder {
  color: #5356A4;
  font-family: 'Open Sans', sans-serif;
}

.search-input {
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-indent: 10px;
}

.search-box {
  align-items: center;
  border: 2px solid #5356A4;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.menu-icon {
  display: none;
}

.mobile-filter {
  display: none;
}

#filter {
  border-bottom: 1px solid #353567;
  border-top: 1px solid #353567;
  height: 130px;
  padding: 3%;
}

#active {
  background-color: #343567;
  cursor: pointer;
}

#search {
  cursor: pointer;
  background-color: #343567;
  height: 30px;
  padding: 14px;
  width: 30px;
}

@media screen and (max-width: 1220px) {

  body {
      grid-template-rows: 500px 90%;
  }

  .form-flex,
  .save {
      width: 65%;
    }

  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, auto);
  }
}


@media screen and (max-width: 900px) {

  body {
    display: flex;
    flex-direction: column;
    grid-area: none;
  }

  h1 {
    align-self: center;
    font-size: 26px;
    margin: 0px auto;
    text-indent: -10px;
  }

  h2 {
    align-self: flex-start;
    font-size: 13pt;
    margin: 4% ;
  }

  form {
    padding-bottom: 30px;
  }

  .form-flex,
  .save {
    width: 90%;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
    z-index: 2;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    height: 250px;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .filter {
    display: none;
  }

  .mobile-filter {
    align-items: center;
    border: 0;
    display: none;
    flex-direction: column;
  }

  .show-starred {
    font-size: 23px;
    height: 50px;
    margin: 0;
    width: 95%;
  }

  .menu-icon {
    display: inline-block;
    margin: 10px;
    width: 35px;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, auto);
  }
}


@media screen and (max-width: 700px) {

  p {
    font-size: 23px;
  }

  form {
    padding-bottom: 30px;
  }

  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);;
  }

  .card {
    height: 235px;
    margin: 2.5% 0% 2.5% 0%;
    width: 450px;
  }

  .form-flex,
  .save {
    width: 93%;
  }

  .comment-icon {
    width: 38px;
  }
}
